[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=conky-gcalcli
Comment=
Exec=conky -p6 -d -c /home/purgator/.config/conky/conky-gcalcli.conf
StartupNotify=false
Terminal=false
Hidden=false
